/*use for the whole system*/

@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap");

/*set font of the whole system*/
html, body {
    font-family: 'Poppins', sans-serif;
}

/*set color for navigation bar, footer and dropdown menu*/
nav, #footer,.dropdown-menu {
    background-color: rgb(225, 127, 147);
}

/*set color when the dropdown menu is hovered*/
.dropdown-item:hover {
    background-color: rgba(244, 194, 194);
}

/*set the word color for navigation bar*/
.word {
    color: white;
}

/*when the word in navigation bar is hovered*/
.word:hover{
    color: black;
    transition: 0.3s;
}

/*for all table in the system*/
.tableHeader {
    background-color: rgba(247, 198, 210);
}

/*for all save button in the system*/
.saveBtn {
    background-color: rgb(127, 212, 250);
    width: 200px;
    color: black;
    border: none;
}

/*for all view detail button in the system*/
.viewBtn {
    background-color: rgb(252, 184, 192);
    width: 200px;
    color: black;
    border: none;
} 

/*when all button is hovered*/
#create:hover, #searchBtn:hover, #detail:hover, #update:hover, .updateBtn:hover, #delete:hover, .saveBtn:hover, .viewBtn:hover, .add_one:hover, .delete_one:hover, .changePic:hover, .cancelBtn:hover {
    font-weight: bold;
    color: white;
}

/*set size for logo*/
#storeLogo img {
    width: 100px;
    height: 100px;
} 

/*set color for navigation bar content*/
.navContent {
    background-color:rgba(205, 94, 119);
}